<div class="success-wrapper">
  <nz-card>
    <div class="success-icon">
      <img src="../../../../assets/images/support-icon.png" alt="" />
      <h2>Successful!</h2>
    </div>
    <div class="details">
      <p>Thankyou for submitting your request.</p>
      <p>
        Our Support Team will review it and contact you as soon as possible
        through your registered email to assist further.!
      </p>
      <button nz-button class="cpt-btn-border cpt-brdr" (click)="goTo('/support')">
        <i nz-icon nzType="arrow-left"></i>
        Back
      </button>
    </div>
  </nz-card>
</div>
