.success-wrapper {
  .success-icon {
    text-align: center;
    padding: 40px;
    img {
      height: 200px;
    }
    h2 {
      color: #00c406;
      font-weight: 600;
      margin-top: 10px;
    }
  }
  .details {
    text-align: center;
    background-color: #00c406;
    padding: 30px;
    p {
      font-size: 16px;
      color: #fff;
    }
  }
}
