<div class="d-flex justify-content-center align-items-center" style="height: 100%">
  <nz-card style="width: 400px">
    <div class="text-center">
      <img src="assets/images/SuccessThumbsup.svg" alt="" />
      <div style="margin: 12px 0">
        <strong style="color: #0d2c50">Thank You</strong>
      </div>
      <p
        >your details have been submitted successfully for review and verification. Shortly you will receive an email with further updates.
      </p>
    </div>
  </nz-card>
</div>
