<div class="left-content">

  <!-- ✅ NEW HEADER -->
  <div class="top-header">
    <div class="logo-section">
      <img
           src="../../../assets/images/sb-logo.png"
        alt="logo"
        class="app-logo"
      />
    </div>

    <div class="lang-section">
      <header-i18n showLangText="false"></header-i18n>
    </div>
  </div>

  <div class="body-content">
    <div class="left-content-pass">
      <div class="content-holder">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>