@import "~@delon/theme/index";
:host {
  display: block;
  margin: 0 auto;
  width: 100%;

  .login-form {
    input {
      height: 48px;
      border: 1px solid #748597;
      border-radius: 8px;
      letter-spacing: 0.14px;
      padding: 15px;
    }
    .remember-box {
      text-align: right;
      span {
        font-size: 12px;
      }
    }
    label {
      color: #748597;
      font-weight: 600;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .bottom {
      display: flex;
      justify-content: center;
      margin-top: 21px;
      span {
        color: #09233f;
        @media only screen and (max-width: 850px) {
          color: #0a0a0a;
        }
        a {
          color: #07943c;
          margin-left: 10px;
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }
}

::ng-deep {
  .password-wrapper {
    padding: 0;
    border: inherit;
    input {
      padding-right: 45px !important;
    }
    .ant-input-suffix {
      margin-left: -27px;
      z-index: 99;
    }
  }
  .ant-input-affix-wrapper > input.ant-input {
    border: inherit;
    outline: inherit;
  }
  .ant-tabs .ant-tabs-bar {
    margin-bottom: 24px;
    text-align: center;
    border-bottom: 0;
  }
  .ant-tabs-tab {
    font-size: 16px;
    .login-form {
      .remember-box {
        text-align: right;
        span {
          font-size: 12px;
        }
      }
      label {
        color: #748597;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      .bottom {
        display: flex;
        justify-content: center;
        margin-top: 21px;
        span {
          color: #caced3;
          a {
            text-decoration: underline;
          }
        }
      }
    }

    line-height: 24px;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 4px;
  }
  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: @primary-color;
    }
  }
  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;
    nz-tooltip {
      vertical-align: middle;
    }
    .register {
      float: right;
    }
  }
}

[data-theme="dark"] {
  :host ::ng-deep {
    .icon {
      color: rgba(255, 255, 255, 0.2);
      &:hover {
        color: #fff;
      }
    }
  }
}

.login-form-area {
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  @media only screen and (max-width: 850px) {
    height: auto;
    h1 {
      font-size: 26px;
      padding: 0 10px;
    }
    .bottom span {
      color: #0a0a0a;
    }
    .cpt-img {
      display: none;
    }
  }
  form {
    @media only screen and (max-width: 1300px) {
      padding: 0;
      width: 100%;
    }
    width: 100%;
    max-width: 400px;
    padding: 0;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }
}

.login-head {
  color: #0c2038;
  font-size: 28px;
 font-family: "Inter", sans-serif;
  padding: 0 10px;
  text-align: center;
    font-weight: 700;
}

.new-launch {
  text-align: center;
  img {
    width: 300px;
  }
  p {
    font-size: 12px;
    margin-top: 20px;
  }
  h3 {
    margin-bottom: 16px;
  }
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #0c2038 0%,
    #44107a 29%,
    #ff2424 67%,
    #e8c71e 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: block;
  font-size: 30px;
  font-weight: bolder;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.psuh-btn {
  display: flex;
  justify-content: space-between;
  button {
    width: 250px;
  }
}

.register-verify {
  text-align: center;
  h2 {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
}

.resend {
  text-align: center;
  margin-bottom: 40px;
}

.ng-otp-input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  input {
    padding: 8px;
    background: #e6e7ed;
    border: none !important;
    height: 50px !important;
    width: 45px !important;
    margin: 0 !important;
    margin-right: 8px !important;
    &:focus-visible {
      outline: none;
    }
  }
}

.resend-link {
  color: #0c2038;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

.logo-auth {
  margin: 0px auto;
  width: 55px;
  height: 55px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}