.forgot-form {
  width: 368px;
  margin: 0 auto;
  .remember-box {
    text-align: right;
    span {
      font-size: 13px;
    }
  }
  label {
    color: #fff;
  }
  button {
    width: 100%;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    span {
      color: #caced3;
      a {
        text-decoration: underline;
      }
    }
  }
}

.password-pattern label {
  display: block;
}

.password-wrapper  {
  padding: 0;
  border: inherit
}
.forgot-form {
  input {
    height: 48px;
    border: 1px solid #748597;
    border-radius: 8px !important;
    letter-spacing: .14px;
    padding: 15px;
  }
}

.reset-set {
  h2 {
    color: #0c2038;
    font-size: 24px;
    font-family: Merriweather,serif;
    text-align: center;
  }
}