.funds-succss {
  height: 100%;
  color: #153d6a;
  position: relative;
  .funds-amount {
  }
  .funds-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    img {
      margin: 2rem 0;
    }
    width: 555px;
    height: 439px;
    background: #eff3f7 0% 0% no-repeat padding-box;
    border: 1px solid #d8dbeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .amount {
      font-size: 20px;
    }
    .currency {
      font: normal normal normal 24px/28px Roboto;
    }
  }
}

.funds-content {
  i {
    font-size: 60px;
    margin-bottom: 1rem;
  }
}
.green {
  color: green;
}

.funds-amount {
  margin-bottom: 1rem;
}

.red {
  color: rgb(185, 59, 59);
}

.ant-breadcrumb {
  display: none !important;
}