.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h4 {
    margin: 0;
    font-size: 17px;
  }

  .btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    a {
      display: flex;
      align-items: center;
      margin-left: 20px;
      padding: 0 15px;
    }
  }
}

.filter {
  transition: all 0.7s ease;

  &.no-collapsed {
    max-height: 55px;
    overflow: hidden;

    .sub-title {
      .filter-collapse {
        span {
          top: 8px;
          -o-transform: rotate(225deg);
          -webkit-transform: rotate(225deg);
          -moz-transform: rotate(225deg);
          transform: rotate(225deg);
        }
      }
    }
  }

  .sub-title {
    display: flex;
    justify-content: space-between;

    .filter-collapse {
      position: absolute;
      top: -10px;
      right: 5px;
      width: 30px;
      height: 30px;
      border: 2px solid #cccbcb;
      border-radius: 50%;

      span {
        position: absolute;
        top: 6px;
        left: 7px;
        width: 12px;
        height: 12px;
        background: #cccbcb;
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all 0.7s ease;
        &:after {
          position: absolute;
          right: 3px;
          bottom: 3px;
          width: 12px;
          height: 12px;
          background: #f7f7f7;
          content: "";
        }
      }
    }
  }

  form {
    label {
      color: #919eac;
    }

    input {
      background-color: #ffffff;
      padding: 8px;
    }

    .ant-form-item-has-error {
      .ant-select-custom {
        &.ng-invalid {
          border-color: #ff4d4f;
        }
      }
    }

    .ant-select-custom {
      width: 100%;
      background-color: #ffffff;
      padding: 3px 0;
      border: 1px solid #d9d9d9;

      ::ng-deep {
        .ant-select-selector {
          background-color: transparent;
          border: none;
          border-radius: 0;
        }
      }

      .ant-select-selector {
        background-color: transparent;
        border: none;
        border-radius: 0;
        height: 90px;
      }
    }

    .ant-radio-group-custom {
      width: 100%;
      background-color: #fdfdfe;
      padding: 8px 40px;
      border: 1px solid #d9d9d9;
      display: flex;
      justify-content: space-around;
    }

    .phone-select {
      padding: 8px;
    }

    .ant-picker {
      width: 100%;
      background-color: #ffffff;
      padding: 8px;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;
      border-radius: 0;
      padding: 18px 20px;
      font-weight: bold;
      margin-top: 2px;

      &.cpt-transparent-btn {
        color: #00b6f2;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

.filter-content {
  margin-top: 20px;

  .data {
    ::ng-deep {
      .ant-table-thead {
        tr {
          th {
            background: #51657d;
            color: #e9ecef;

            .ant-table-column-title {
              margin-right: 10px;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f6f7f8;
          }
        }
      }

      .action-wrapper {
        .action-list {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          li {
            position: relative;
            display: flex;
            justify-content: center;

            a {
              margin-right: 13px;
            }

            img {
              width: 15px;
            }

            &:hover {
              ul {
                visibility: visible;
                opacity: 1;
              }
            }

            .action-icon {
              width: 20px;
              height: 20px;
              background-repeat: no-repeat;
              background-image: url("../../../../assets/images/accounts/action-hover.svg");

              &:hover {
                background-image: url("../../../../assets/images/accounts/action-hover.svg");
              }
            }

            ul {
              position: absolute;
              right: 70%;
              background-color: #0d2c50;
              visibility: hidden;
              opacity: 0;
              top: 0;
              list-style: none;
              color: #fff;
              z-index: 999;
              font-size: 12px;
              width: 160px;
              margin: 0;
              padding: 0;
              transition: all 0.5s ease;

              li {
                margin: 0;
                padding: 10px 10px 8px;
                border-bottom: 1px solid #51657d;
                justify-content: flex-start;

                &:last-child {
                  border-bottom: none;
                  padding-bottom: 10px;
                }

                &:hover {
                  background-color: #123966;
                }

                a {
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.table-card {
  border-radius: 16px;
}
.trading-account {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 24px;
  height: 60px;
  background-color: #ffffff;
  margin-bottom: 24px;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid transparent;

  @media only screen and (max-width: 850px) {
    padding: 10px 5px;
    height: 80%;
  }

  &:hover {
    border: 1px solid #07943c;
  }

  .right-icon {
    position: absolute;
    right: 16px;
    @media only screen and (max-width: 850px) {
      right: 10px;
    }
  }

  .trading-title {
    font: normal normal normal 20px/24px;
    @media only screen and (max-width: 850px) {
      font-size: 14px;
    }
  }
  .trading-content {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 850px) {
      width: 80%;
    }
    img {
      margin-right: 12px;
    }
  }
}

.accept {
  background: #3bb345;
}

.reject {
  background: #bd3232;
}

.white {
  color: #fff;
}

#print-btns {
  display: flex;
  justify-content: end;
  align-items: center;
}


.accept {
  background: #3bb345;
}

.reject {
  background: #bd3232;
}

.white {
  color: #fff;
}

#print-btns {
  display: flex;
  justify-content: end;
  align-items: center;
}

.swap-account {
  h6 {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
  }
  label {
    font-size: 14px;
    color: #5d5b5b;
 }
}

.sign-plate {
  border: 1px dashed rgb(0, 0, 0);
  margin: 10px 0px;
  width: 460px;
  height: 119px;
  @media only screen and (max-width: 850px) {
    width: 350px;
  }
}

.swap-submit {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

 .clear {
    background: #c33434;
    border: none !important;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }