.upload-title {
  color: #acacac;
  font-size: 14px;
}
.bank-upload {
  .ant-upload {
    display: flex;

    justify-content: flex-end;
  }
}

.ant-descriptions-view {
  tbody tr:nth-child(even) {
    background: inherit;
  }
  .ant-descriptions-item-content {
    font-weight: 500;
    color: #51657d;
  }
}


h4.title-head {
  color: #212D46;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 5px;
}

.ant-descriptions-view .ant-descriptions-item-content {
  font-weight: 700;
  color: #212D46;
  font-size: 15px;
}

.table-list{
  margin: 14px;
  width: 100%;
}

.action-wrapper ul.action-list {
  padding: 0px;
}

.action-wrapper ul.action-list li {
  list-style: none;
}

.bank-list .ant-descriptions-view .ant-descriptions-item-content {
  margin-bottom: 25px;
}

.bank-list span.ant-descriptions-item-label {
  color: #8b8b8b;
}

.bank-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 85%;
    float: right;
  }
  a {
    font-size: 17px;
  }
}

.bank-data {
  p {
    margin-bottom: 5px;
    &:first-child {
      color: #575656;
    }
    &:last-child {
      font-weight: 600;
    }
  } 
}

.upi-id {
  font-weight: 600;
  font-size: 18px;
  span {
    font-size: 14px;
    margin-left: 4px;
    cursor: pointer;
  }
}