.funds-succss {
  height: 100%;
  color: #153d6a;
  position: relative;
  .funds-amount {
    margin-bottom: 22px;
  }
  .funds-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    img {
      margin: 15px 0;
      width: 100px;
    }
    width: 555px;
    height: 439px;
    background: #eff3f7 0% 0% no-repeat padding-box;
    border: 1px solid #d8dbeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .amount {
      font: normal normal bold 32px/38px Roboto;
    }
    .currency {
      font: normal normal normal 24px/28px Roboto;
    }
  }
}
