.dashboard {
  background-color: transparent;
  height: 100%;
  ::ng-deep {
    .margin-switch {
      .ant-switch {
        background-color: transparent;
        border: 1px solid #009be2;
      }
      .ant-switch-handle::before {
        background-color: #009be2;
      }
    }
  }

  .dashboard-header {
    height: 285px;
    width: 100%;
    background-color: #51657d;
    margin-bottom: 16px;
    position: relative;
    .details {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 55px 40px 40px 26px;
      h3 {
        color: #ffffff;
      }
      h2 {
        font-size: 36px;
        font-weight: bold;
        color: #33ccff;
      }
      p {
        font-size: 18px;
        color: #ffffff;
      }
      .line {
        width: 53px;
        height: 5px;
        background-color: #33ccff;
      }
    }
    img {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
    }
  }
  .c-card {
    background-color: #ffffff;
    min-height: 494px;
    width: 100%;
    padding: 24px;

    .title {
      color: #51657d;
      font-size: 18px;
      font-weight: bold;
      border-bottom: 1px solid #d8dbeb;
    }
    .cpt-primary-btn {
      width: 100%;
    }
  }
  .or-title {
    color: #acacac;
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
  }
  .margin-calculator-value {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93px;
  }
  .margin-calculator {
    position: relative;
    .border {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      margin: auto;
      width: 38px;
      height: 5px;
      background-color: #33ccff;
    }
  }
}

.demo-chart {
  width: 100%;
  position: absolute !important;
  top: 35px;
  left: -30px;
}

.share {
  background: #748597;
  padding: 10px 24px;
  margin-bottom: 15px;
  h4 {
    color: #fff;
  }
  p {
    color: #fff;
    margin: 4px 15px 0px 0px;
  }
}

.center-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  i {
    font-size: 30px;
  }
}

.min-height {
  min-height: 525px;
}

.video-home {
  margin: 0px auto;
  text-align: center;
  video {
    width: 95%;
  }
  h1 {
    color: #212D46;
    font-size: 32px;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  p {
    color: #6D7988;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
}