[data-theme="dark"] {
  .ant-layout,
  .dashboard {
    background: #353e46;
  }
  .ant-layout-sider {
    background: #141414;
  }
  .ant-btn-primary {
    padding: 4px 15px;
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    background: #e8c71e;
    border: 2px solid #009be2;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-btn-background-ghost.ant-btn-primary {
    color: #33ccff;
    border-color: #33ccff;
    text-shadow: none;
  }
  .ant-switch-checked {
    background-color: #33ccff;
  }

  tr {
    &:nth-child(even) {
      background-color: #141414 !important;
    }
  }
  .ant-table-thead tr th {
    background-color: #353e46 !important;
    color: #fff !important;
  }

  .ant-pagination-item-active {
    border: 1px solid #3cf;
  }
  .ant-pagination-item:hover {
    border-color: #3cf;
  }
  .ant-pagination-item:hover {
    a {
      color: #3cf;
    }
  }

  .ant-pagination-item-active a,
  .ant-pagination-item-active:hover a {
    color: #3cf;
  }

  .cpt-main-header {
    background: #ffffff;
  }

  .ant-card-head .ant-card-head-title {
    color: #ffffff;
  }

  .ant-collapse-header .header-title span {
    color: #ffffff;
  }
  .ant-form-item-label > label,
  .deposit-modal .deposit .balance strong,
  .deposit-modal .deposit .balance,
  strong,
  .deposit-modal .deposit .account-conversion,
  .title-header {
    color: #e2e2e2 !important;
  }
  .margin-calculator-value {
    background-color: #343d45 !important;
    color: #ffffff !important;
  }
  .deposit-modal .deposit,
  .transfer {
    background: transparent !important;
    border-color: transparent !important;
  }

  .setting-modal
    .ant-modal-content
    .ant-modal-body
    .setting-modal-tabs
    .ant-tabs-nav-list {
    background: #232426 !important;
  }
  .cpt-canlendar-content {
    background: transparent !important;
    border: none !important;
  }

  .gray__bg {
    background: transparent !important;
    border: 1px solid #232426 !important;
  }

  .my-wallet {
    background: #353e46 !important;
  }

  .ant-collapse-borderless {
    background: #353e46 !important;
  }

  .border-card {
    // background: #454444 !important;
    // input[type='text'] {
    //   border: 1px solid rgb(153, 153, 153) !important;
    // }
    // .ant-input-affix-wrapper {
    //   border: 1px solid rgb(153, 153, 153) !important;
    // }
    .ant-form-item-explain.ant-form-item-explain-error {
      color: #e8e8e8;
    }
  }

  .dark-patch {
    background: #fff;
    margin-bottom: 10px;
    width: 119px;
    padding: 1px;
  }

  .w-100 {
    width: 68px;
  }

  .setting-modal
    .ant-modal-content
    .ant-modal-body
    .trading-box
    .trading-box-item {
    border: none !important;
    background: #454a4e !important;
  }
  .change-password {
    input[type="text"] {
      border: none !important;
    }
  }
  .dark-text {
    p {
      color: #fff !important;
    }
  }
  .ant-form-item-has-error
    :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
    background-color: transparent;
  }
  .collapse-btn {
    background-color: #141414;

    display: flex;
    justify-content: center;
  }
  .ant-input,
  .ant-input-group-addon,
  .ant-picker,
  .ant-input-number,
  .ant-input-affix-wrapper {
    background-color: #303840;
    border: 1px solid #7f829733;
  }
  .ant-select {
    background-color: #303840;
  }

  .ant-steps-item-icon {
    background-color: #009be2 !important;
  }

  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: #fff !important;
  }

  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after,
  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background-color: #33ccff !important;
  }
  .ant-form-item-explain.ant-form-item-explain-error {
    color: #ff3939 !important;
  }
  .margin-switch {
    .ant-switch {
      background-color: #009be2 !important;
    }
    .ant-switch-handle::before {
      background-color: #ffffff !important;
    }
  }
  :host ::ng-deep {
    // 针对暗黑系重新定义
  }

  .ant-layout-sider-children .collapse-btn {
    top: 18px !important;
  }
  .share {
    background: #1a2733 !important;
  }

  .ant-btn {
    border-width: 2px !important;
  }
  .header-drawer-body .menu ul li a,
  .deposit-modal .deposit .method-line {
    color: #fff !important;
  }

  .title-header,
  .deposit-modal .deposit .method-line,
  .ant-modal-header {
    border-bottom: 1px solid #626262;
  }

  .border-card {
    border: 1px solid #626262 !important;
  }

  .setting-modal
    .ant-modal-content
    .ant-modal-body
    .setting-modal-tabs
    .divider {
    border: 1px solid #626262 !important;
  }

  .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
    border-top: 1px solid #626262;
  }

  .search-btn {
    border: 2px solid #c6c6c6;
  }

  .history_button button {
    width: 70px;
    text-align: center;
    padding: 0px;
  }
  .ant-btn {
    border-width: 2px;
    padding: 2px 17px;
  }
  .fc-theme-standard td,
  .fc-scrollgrid,
  .cpt-canlendar-content,
  .dark_calendar {
    border: 1px solid #626262 !important;
  }

  .fc-theme-standard {
    border: 1px solid #626262 !important;
  }

  .fc-col-header-cell {
    border: 1px solid #626262 !important;
  }
  .dark_modebank {
    background: #353e46 !important;
    color: #fff;
  }
  .ant-descriptions-view .ant-descriptions-item-content {
    color: #fff;
  }

  .ant-descriptions-view tr:nth-child(even) {
    background: none !important;
  }
  .ant-menu-submenu-popup > .ant-menu ul li a span {
    color: #e2e2e2 !important;
  }
  .blurred {
    p {
      color: #fff;
    }
  }
  .requirement-images {
    color: #fff !important;
  }
  .ant-input-lg,
  .ant-select {
    font-size: 14px !important;
  }
}
