@import '~@delon/theme/index';
:host {
  .profile-personal-title {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 18px;
    color: #51657d;
    font-size: 16px;
  }

  ::ng-deep {
    .profile-files {
      max-width: 800px;
      .ant-upload-list-picture-card-container,
      .ant-upload.ant-upload-select-picture-card {
        height: 81px !important;
        width: 100%;
      }
    }
    .profile-upload-icon {
      i {
        color: #3cf;
        font-size: 48px;
      }
    }
    .phone-select {
      border: none;
      .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: none;
      }
    }
    .question-title {
      font: normal normal 600 16px/26px Montserrat;
      color: #3b3d42;
      margin-left: 12px;
    }
    .ant-advanced-search-form {
      margin-left: 24px;
      .ant-radio-group,
      .ant-checkbox-group {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 12px;
        }
      }
      .question-control,
      .ant-form-item-explain {
        padding-left: 16px;
      }
    }
  }
}
.gray {
  color: #acacac;
}
