<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="tplTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitForm()"
  [nzCloseIcon]="nzCloseIcon"
  [nzOkLoading]="loading"
  [nzWidth]="500"
  nzOkText="{{ 'Submit' | i18n }}"
  nzCancelText="{{ 'Cancel' | i18n }}"
  nzClassName="cpt-modal"
>
  <ng-template #nzCloseIcon>
    <div class="nz-title-template">
      <img src="assets/images/Close-Modal.svg" alt="SettingsMain" />
    </div>
  </ng-template>
  <ng-template #tplTitle>
    <div class="nz-title-template">
      <span>{{ 'Change Password' | i18n }}</span>
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <div class="transfer acc-change-pwd">
      <form
        nz-form
        [formGroup]="changePassword"
        nzLayout="vertical"
        class="change-password"
      >
        <!-- <nz-form-item>
          <nz-form-label>{{ 'Existing Password' | i18n }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'REQUIRED_FIELD' | i18n }}">
            <nz-input-group [nzSuffix]="suffixTemplate1">
              <input
                formControlName="existingPassword"
                [type]="passwordVisible1 ? 'text' : 'password'"
                [(ngModel)]="password1"
                nz-input
                [nzSize]="'large'"
                PlaceHolder="Existing Password"
              />
            </nz-input-group>
            <ng-template #suffixTemplate1>
              <i nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'" (click)="passwordVisible1 = !passwordVisible1"></i>
            </ng-template>
          </nz-form-control>
        </nz-form-item> -->
        <div nz-row nzGutter="16" class="mb-2">
          <div
            nz-col
            nzMd="16"
            nzLg="16"
            nzXl="16"
            nzXs="24"
            class="no-pad-change"
          >
            <nz-form-label nzFor="email">{{
              'Verify Current Email' | i18n
            }}</nz-form-label>
            <br />
            {{ user | mask }}
            <!-- <nz-form-control
              nzErrorTip="{{ 'Please enter valid email id' | i18n }}"
            >
              <input
                formControlName="email"
                readonly
                nz-input
                nzSize="large"
                [(ngModel)]="user"
                type="text"
                placeholder="{{ 'Enter Email Here' | i18n }}"
              />
            </nz-form-control>  -->
          </div>
          <div nz-col nzMd="4" nzLg="4" nzXl="4" nzXs="24" class="gtc">
            <nz-form-label>&nbsp;</nz-form-label>
            <nz-form-control>
              <button
                nz-button
                nzType="primary"
                [nzLoading]="loader"
                class="radius-btn h-40"
                (click)="onGetCode()"
              >
                {{ 'Get Code' | i18n }}
              </button>
            </nz-form-control>
          </div>
        </div>
        <nz-form-item>
          <nz-form-label nzFor="otp"> {{ 'Enter Code' | i18n }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Enter Emailed OTP' | i18n }}">
            <input
              formControlName="otp"
              type="text"
              nz-input
              nzSize="large"
              placeholder="{{ 'Enter Code' | i18n }}"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'New Password' | i18n }}</nz-form-label>
          <nz-form-control [nzErrorTip]="errorTpl1">
            <nz-input-group [nzSuffix]="suffixTemplate2">
              <input
                formControlName="password"
                [type]="passwordVisible2 ? 'text' : 'password'"
                nz-input
                nzSize="large"
                placeholder="{{ 'New Password' | i18n }}"
                (ngModelChange)="updateConfirmValidator()"
                [(ngModel)]="password2"
              />
            </nz-input-group>
            <ng-template #suffixTemplate2>
              <i
                nz-icon
                [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible2 = !passwordVisible2"
              ></i>
            </ng-template>
            <ng-template #errorTpl1 let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'Please enter New Password' | i18n }}
              </ng-container>
              <ng-container *ngIf="tradingPlatform === 'MT5'; else otherPass">
                <ng-container *ngIf="control.hasError('pattern')">
                  {{
                    'Minimum 6 letters with the combination of Alphabets + Numbers + Special Character'
                      | i18n
                  }}
                </ng-container>
              </ng-container>
              <ng-template #otherPass>
                <ng-container *ngIf="control.hasError('pattern')">
                  {{
                    'Minimum 6 letters with the combination of Alphabets + Numbers (Special Character not Allowed)'
                      | i18n
                  }}
                </ng-container>
              </ng-template>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'Re Enter New Password' | i18n }}</nz-form-label>
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group [nzSuffix]="suffixTemplate3">
              <input
                formControlName="newPassword"
                [type]="passwordVisible3 ? 'text' : 'password'"
                [(ngModel)]="password3"
                nz-input
                nzSize="large"
                placeholder="{{ 'Re Enter New Password' | i18n }}"
              />
            </nz-input-group>
            <ng-template #suffixTemplate3>
              <i
                nz-icon
                [nzType]="passwordVisible3 ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible3 = !passwordVisible3"
              ></i>
            </ng-template>
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'Please confirm your password!' | i18n }}</ng-container
              >
              <ng-container *ngIf="control.hasError('confirm')">
                {{ 'Two passwords that you enter is inconsistent!' | i18n }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-container>
</nz-modal>
