// 导入 Less 变量参数
@import '~@delon/theme/index';

:host {
  // 组件宿主样式

  ::ng-deep {
    // 组件内其他样式
  }
}

.cpt-canlendar-content {
  background: #ffffff;
  border: 1px solid #e2e2e2;
}
.cpt-canlendar-item {
  padding-top: 20px;
  .ant-divider-horizontal {
    margin: 5px 0;
  }
  .date {
    color: #acacac;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    color: #acacac;
  }
  .line {
    width: 23px;
    height: 6px;
    background: #00b5f2;
    border-radius: 3px;
  }
  .time-content,
  .time-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      color: #51657d;
      max-width: 56px;
      overflow: hidden;
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
    }
  }
  .time {
    font: 12px;
    margin-right: 34px;
    color: #acacac;
  }
}

.fc table {
  table-layout: auto;
}
.fc-view > table {
  min-width: 0;
  width: auto;
}
.fc-axis {
  min-width: 100px; /*the width of times column*/
  width: 100px; /*the width of times column*/
}
.fc-day,
.fc-resource-cell,
.fc-content-col {
  min-width: 300px;
  width: 300px;
}

.fc .fc-view-harness-active > .fc-view {
  width: 100% !important;
}

.fc .fc-scrollgrid {
  table-layout: auto !important;
}

.fc td,
.fc th:last-child {
  width: 200px !important;
}
