<div class="transfer-modal dfx-transfer-page">
  <ng-container *ngIf="pspAllowed; else otherDeposit">
    <nz-card [nzTitle]="nzTitle" [nzLoading]="dataLoad" class="dfx-transfer-card">
      <ng-template #nzTitle>
        <span>
          {{ 'Transfer' | i18n }}
          <span *ngIf="selectTransfer === 'C'">
            ({{ 'Total Balance' | i18n }}: {{ total?.totalBalance }}
            {{ total?.currency }})
          </span>
        </span>
      </ng-template>

      <div nz-row [nzGutter]="28">
        <!-- LEFT SIDE: YOUR EXISTING FORM -->
        <div nz-col nzMd="12" nzLg="12" nzXl="12" nzXs="24">
          <div class="transfer tr-code">
            <form nz-form [formGroup]="validateForm" nzLayout="vertical">
              <nz-form-item>
                <nz-form-label>{{ 'Transfer From' | i18n }}</nz-form-label>
                <nz-form-control
                  nzErrorTip="{{ 'Please select Transfer From' | i18n }}"
                  [nzExtra]="nzExtra1"
                >
                  <nz-select
                    (ngModelChange)="tradingChange($event, 'From')"
                    nzSize="large"
                    formControlName="transferFrom"
                    nzPlaceHolder="{{ 'Please Select' | i18n }}"
                    class="ant-select-custom"
                  >
                    <nz-option
                      *ngFor="let item of transferOptions"
                      [nzValue]="item.code + '|' + item.currency + '|' + item.type"
                      [nzLabel]="item.description"
                      [nzDisabled]="
                        validateForm.value.transferTo ===
                        item.code + '|' + item.currency + '|' + item.type
                      "
                    ></nz-option>
                  </nz-select>

                  <ng-template #nzExtra1>
                    <div class="balance">
                      {{ 'Trading Account Balance' | i18n }}:
                      <strong>
                        {{ transferFrom.currency }}
                        {{ transferFrom.balance ?? 0 }}
                      </strong>
                    </div>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label>{{ 'Transfer To' | i18n }}</nz-form-label>
                <nz-form-control
                  nzErrorTip="{{ 'Please select Transfer To' | i18n }}"
                  [nzExtra]="nzExtra"
                >
                  <nz-select
                    (ngModelChange)="tradingChange($event, 'To')"
                    nzSize="large"
                    formControlName="transferTo"
                    nzPlaceHolder="{{ 'Please Select' | i18n }}"
                    class="ant-select-custom"
                  >
                    <nz-option
                      *ngFor="let item of transferOptions"
                      [nzValue]="item.code + '|' + item.currency + '|' + item.type"
                      [nzLabel]="item.description"
                      [nzDisabled]="
                        validateForm.value.transferFrom ===
                        item.code + '|' + item.currency + '|' + item.type
                      "
                    ></nz-option>
                  </nz-select>

                  <ng-template #nzExtra>
                    <div class="balance">
                      {{ 'Trading Account Balance' | i18n }}:
                      <strong>
                        {{ transferTo.currency }}
                        {{ transferTo.balance ?? 0 }}
                      </strong>
                    </div>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label>{{ 'Amount' | i18n }}</nz-form-label>
                <nz-form-control nzErrorTip="{{ 'Please enter valid amount' | i18n }}">
                  <nz-input-number
                    formControlName="amount"
                    nzSize="large"
                    nzPlaceHolder="{{ 'Minimum Amount Should be 1 USD' | i18n }}"
                    [nzMin]="0"
                    [nzMax]="transferFrom.balance"
                    [nzStep]="1"
                    class="w100"
                  ></nz-input-number>

                  <div class="balance d-flex justify-content-between account-conversion">
                    <div>
                      {{ 'Conversion Rate' | i18n }}:
                      <strong>
                        1 {{ transferFrom.currency }} = {{ exchangeRate }}
                        {{ transferTo.currency }}
                      </strong>
                    </div>

                    <div>
                      {{ 'Transfer Amount' | i18n }}:
                      <strong>
                        {{ transferTo.currency }}
                        {{ (validateForm.value.amount * exchangeRate).toFixed(2) }}
                      </strong>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>

            <button
              class="cmn-btn large-bth w-100"
              nz-button
              [nzLoading]="transferLoader"
              [nzType]="'primary'"
              (click)="onInitiateTransfer()"
            >
              {{ 'Submit' | i18n }}
            </button>
          </div>
        </div>

        <!-- RIGHT SIDE: NEW DESIGN -->
        <div nz-col nzMd="12" nzLg="12" nzXl="12" nzXs="24">
          <div class="dfx-transfer-secure-card">
            <div class="dfx-transfer-dots"></div>

            <div class="dfx-transfer-hero">
              <div class="dfx-transfer-orbit orbit-one"></div>
              <div class="dfx-transfer-orbit orbit-two"></div>

              <div class="dfx-transfer-main">
                <span nz-icon nzType="swap" nzTheme="outline"></span>
              </div>

              <div class="dfx-transfer-check">
                <span nz-icon nzType="check" nzTheme="outline"></span>
              </div>
            </div>

            <div class="dfx-transfer-content">
              <h2>{{ 'Secure' | i18n }} <span>{{ 'Transfers' | i18n }}</span></h2>
              <p>{{ 'Your funds move instantly between your verified accounts' | i18n }}</p>
            </div>

            <div class="dfx-transfer-flow">
              <div class="dfx-flow-box">
                <span nz-icon nzType="wallet" nzTheme="outline"></span>
                <p>{{ 'From Account' | i18n }}</p>
              </div>

              <div class="dfx-flow-arrow">
                <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
              </div>

              <div class="dfx-flow-box">
                <span nz-icon nzType="bank" nzTheme="outline"></span>
                <p>{{ 'To Account' | i18n }}</p>
              </div>
            </div>

            <div class="dfx-transfer-feature-grid">
              <div class="dfx-transfer-feature-item">
                <span nz-icon nzType="thunderbolt" nzTheme="fill"></span>
                <div>
                  <h4>{{ 'Instant Processing' | i18n }}</h4>
                  <p>{{ 'Real-time movement' | i18n }}</p>
                </div>
              </div>

              <div class="dfx-transfer-feature-item">
                <span nz-icon nzType="swap" nzTheme="outline"></span>
                <div>
                  <h4>{{ 'Internal Transfer' | i18n }}</h4>
                  <p>{{ 'Between your accounts' | i18n }}</p>
                </div>
              </div>

              <div class="dfx-transfer-feature-item">
                <span nz-icon nzType="safety-certificate" nzTheme="fill"></span>
                <div>
                  <h4>{{ 'Verified Accounts' | i18n }}</h4>
                  <p>{{ 'Protected transfer' | i18n }}</p>
                </div>
              </div>

              <div class="dfx-transfer-feature-item">
                <span nz-icon nzType="lock" nzTheme="fill"></span>
                <div>
                  <h4>{{ 'Secure Movement' | i18n }}</h4>
                  <p>{{ 'Encrypted internally' | i18n }}</p>
                </div>
              </div>
            </div>

            <div class="dfx-transfer-footer">
              <div class="dfx-transfer-footer-icon">
                <span nz-icon nzType="safety-certificate" nzTheme="fill"></span>
              </div>

              <div>
                <h4>{{ 'Protected Fund Transfer' | i18n }}</h4>
                <p>{{ 'Transfers are processed instantly between your DragonflyFX accounts.' | i18n }}</p>
              </div>

              <div class="dfx-transfer-footer-lock">
                <span nz-icon nzType="lock" nzTheme="outline"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-card>
  </ng-container>

  <ng-template #otherDeposit>
    <nz-card [nzTitle]="nzTitle" [nzLoading]="dataLoad">
      <ng-template #nzTitle>
        <span>{{ 'Transfer' | i18n }}</span>
      </ng-template>

      <div nz-row nzJustify="center">
        <div nz-col nzMd="12" nzLg="12" nzXl="12" nzXs="24">
          <div class="transfer tr-code psp-block">
            <img src="assets/images/block.png" alt="info" style="width: 150px" />
            <h3>
              Sorry, you cannot be able to initiate the transfer now. Kindly
              reach out to
              <a href="mailto:support_int@dragonflyfx.com">
               support@dragonflyfx.com
              </a>
              for more details.
            </h3>
          </div>
        </div>
      </div>
    </nz-card>
  </ng-template>
</div>