<div class="form-area">
  <div nz-row [nzGutter]="24" class="s-head">
    <div
      nz-col
      nzMd="6"
      nzLg="6"
      nzXl="6"
      nzXs="6"
      class="s-block s1"
      [ngClass]="topStep1 ? 's-active' : ''"
    >
      <p>{{ 'Email' | i18n }}</p>
    </div>
    <div
      nz-col
      nzMd="6"
      nzLg="6"
      nzXl="6"
      nzXs="6"
      class="s-block s1"
      [ngClass]="topStep2 ? 's-active' : ''"
    >
      <p>{{ 'Verification' | i18n }}</p>
    </div>
    <div
      nz-col
      nzMd="6"
      nzLg="6"
      nzXl="6"
      nzXs="6"
      class="s-block s1"
      [ngClass]="topStep3 ? 's-active' : ''"
    >
      <p>{{ 'Set Password' | i18n }}</p>
    </div>
    <div
      nz-col
      nzMd="6"
      nzLg="6"
      nzXl="6"
      nzXs="6"
      class="s-block s1"
      [ngClass]="topStep4 ? 's-active' : ''"
    >
      <p>{{ 'Done!' | i18n }}</p>
    </div>
  </div>
  <form
    nz-form
    [formGroup]="registerForm"
    class="forgot-password-form"
    (ngSubmit)="submitForm()"
  >
    <div class="full-width step1" *ngIf="currentStep == 1">
      <div nz-row [nzGutter]="24" class="justify-content-center h-header">
        <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
          <h2>{{ 'Set Password' | i18n }}</h2>
          <p>
            {{
              'Accept Privacy Policy and Terms and Conditions and Click Next'
                | i18n
            }}
          </p>
        </div>
      </div>
      <div nz-row [nzGutter]="24" class="justify-content-center">
        <div nz-row [nzGutter]="24" class="justify-content-center">
          <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
            <div class="tc">
              <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="agree"> </label>
                  <span class="tnc">
                    {{
                      'I have read and consent to my data being used in accordance with the'
                        | i18n
                    }}
                    <a [href]="links[2]" target="_blank">{{
                      'Privacy Policy' | i18n
                    }}</a>
                    &
                    <a [href]="links[1]" target="_blank">
                      {{ 'Terms and Conditions.' | i18n }}
                    </a>
                  </span>
                  <ng-template #errorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">{{
                      'This field is required' | i18n
                    }}</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step2 full-width" *ngIf="currentStep == 2">
      <div nz-row [nzGutter]="24" class="justify-content-center h-header">
        <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
          <h2>{{ 'Please Check Your Email' | i18n }}</h2>
          <p>
            {{ 'Weve sent a verification code to' | i18n }}<br />{{ showEmail }}
          </p>
        </div>
      </div>
      <div nz-row [nzGutter]="24" class="justify-content-center">
        <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
          <nz-form-item>
            <nz-form-control [ngClass]="showOtpError ? 'otp-error' : ''">
              <ng-otp-input
                (onInputChange)="onOtpChange($event)"
                [config]="{ length: 6 }"
              ></ng-otp-input>
            </nz-form-control>
            <p *ngIf="showOtpError" class="custom-error">
              {{ 'This field is required' | i18n }}
            </p>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="step3 full-width" *ngIf="currentStep == 3">
      <div nz-row [nzGutter]="24" class="justify-content-center h-header">
        <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
          <h2>{{ 'Set your password' | i18n }}</h2>
        </div>
      </div>
      <div nz-row [nzGutter]="24" class="justify-content-center">
        <div
          nz-col
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzXs="24"
          class="password-pattern"
        >
          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <nz-input-group
                  [nzSuffix]="suffixTemplate"
                  class="password-wrapper"
                >
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    nzSize="large"
                    nz-input
                    formControlName="password"
                    autocomplete="new-password"
                    placeholder="{{ 'Password' | i18n }}"
                    (ngModelChange)="updateConfirmValidator()"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                    nz-icon
                    [nzType]="!passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                  ></i>
                </ng-template>
                <label
                  class="col"
                  [ngClass]="
                    registerForm.controls['password'].hasError('required') ||
                    registerForm.controls['password'].hasError('minlength')
                      ? 'text-danger'
                      : 'text-success'
                  "
                >
                  {{ 'Must be at least 8 characters!' | i18n }}
                </label>
                <label
                  class="col"
                  [ngClass]="
                    registerForm.controls['password'].hasError('required') ||
                    registerForm.controls['password'].hasError('hasNumber')
                      ? 'text-danger'
                      : 'text-success'
                  "
                >
                  {{ 'Must contain at least 1 number!' | i18n }}
                </label>
                <label
                  class="col"
                  [ngClass]="
                    registerForm.controls['password'].hasError('required') ||
                    registerForm.controls['password'].hasError('hasCapitalCase')
                      ? 'text-danger'
                      : 'text-success'
                  "
                >
                  {{ 'Must contain at least 1 in Capital Case!' | i18n }}
                </label>
                <label
                  class="col"
                  [ngClass]="
                    registerForm.controls['password'].hasError('required') ||
                    registerForm.controls['password'].hasError('hasSmallCase')
                      ? 'text-danger'
                      : 'text-success'
                  "
                >
                  {{ 'Must contain at least 1 Letter in Small Case!' | i18n }}
                </label>
                <label
                  class="col"
                  [ngClass]="
                    registerForm.controls['password'].hasError('required') ||
                    registerForm.controls['password'].hasError(
                      'hasSpecialCharacters'
                    )
                      ? 'text-danger'
                      : 'text-success'
                  "
                >
                  {{ 'Must contain at least 1 Special Character!' | i18n }}
                </label>
                <!-- <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">{{
                    'This field is required' | i18n
                  }}</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    {{ 'password_logic' | i18n }}
                  </ng-container>
                </ng-template> -->
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="errorTplpaw">
              <nz-input-group>
                <nz-input-group
                  [nzSuffix]="suffixTemplate1"
                  class="password-wrapper"
                >
                  <input
                    [type]="confirmPasswordVisible ? 'text' : 'password'"
                    nzSize="large"
                    nz-input
                    formControlName="confirmPassword"
                    autocomplete="new-password"
                    placeholder="{{ 'Confirm Password' | i18n }}"
                    (ngModelChange)="updateConfirmValidator()"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate1>
                  <i
                    nz-icon
                    [nzType]="!confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                    (click)="confirmPasswordVisible = !confirmPasswordVisible"
                  ></i>
                </ng-template>
                <ng-template #errorTplpaw let-control>
                  <ng-container *ngIf="control.hasError('required')">{{
                    'This field is required' | i18n
                  }}</ng-container>
                  <ng-container *ngIf="control.hasError('confirmPass')">
                    {{ 'Password does not match' | i18n }}
                  </ng-container>
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="step4 full-width" *ngIf="currentStep == 4">
      <div nz-row [nzGutter]="24" class="justify-content-center h-header">
        <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
          <img src="assets/reg-done.svg" alt="Thanks" />
          <h2>{{ 'Password Set' | i18n }}</h2>
          <p>
            {{ 'Your password has been successfully set.' | i18n }} <br />{{
              'Click below to login.' | i18n
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="proceed-section">
      <div nz-row [nzGutter]="24" class="justify-content-center">
        <div nz-col nzMd="24" nzLg="24" nzXl="24" nzXs="24">
          <div class="btg btg1" *ngIf="currentStep == 1">
            <button
              nz-button
              class="login-form-button login-form-margin cpt-primary-btn cmn-btn"
              [nzType]="'primary'"
              type="submit"
              [nzLoading]="loader"
              (click)="nextStep(1)"
            >
              {{ 'Next' | i18n }}
            </button>
            <div class="bottom-txt">
              <p>
                {{ 'Dont have an account?' | i18n }}
                <a [routerLink]="langs + '/user/register-list'"
                  >&nbsp; {{ 'Sign up for free?' | i18n }}</a
                >
              </p>
            </div>
          </div>
          <div class="btg" *ngIf="currentStep == 2">
            <button
              nz-button
              class="login-form-button login-form-margin cpt-primary-btn cmn-btn cmn-trans-btn"
              [nzType]="'primary'"
              type="button"
              (click)="prevStep(1)"
            >
              {{ 'Back' | i18n }}
            </button>
            <button
              nz-button
              class="login-form-button login-form-margin cpt-primary-btn cmn-btn"
              [nzType]="'primary'"
              type="submit"
              [nzLoading]="loader"
              (click)="nextStep(2)"
            >
              {{ 'Verify' | i18n }}
            </button>
          </div>
          <div class="btg btg-wrap" *ngIf="currentStep == 3">
            <button
              nz-button
              class="login-form-button login-form-margin cpt-primary-btn cmn-btn"
              [nzType]="'primary'"
              type="submit"
              [nzLoading]="loader"
              (click)="nextStep(3)"
            >
              {{ 'Next' | i18n }}
            </button>
            <p (click)="prevStep(2)">{{ 'Previous step' | i18n }}</p>
          </div>
          <div class="btg" *ngIf="currentStep == 4">
            <button
              nz-button
              class="login-form-button login-form-margin cpt-primary-btn cmn-btn"
              [nzType]="'primary'"
              type="button"
              [nzLoading]="loader"
              (click)="nextStep(4)"
            >
              {{ 'Login Now' | i18n }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!---------welcome modal----------->

<nz-modal
  [(nzVisible)]="isVisible"
  [nzWidth]="600"
  nzOkText="{{ 'Submit' | i18n }}"
  nzCancelText="{{ 'Back' | i18n }}"
  nzClassName="cpt-modal home-modal"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <div class="token-modal">
      <h1>{{ 'Welcome to dragonfly' | i18n }}</h1>
      <p>{{ 'Trade Anytime Anywhere' | i18n }}</p>
      <div class="inner-con">
        <h3>
          {{
            'dragonfly will call you only from our international support numbers:'
              | i18n
          }}
        </h3>
        <h3></h3>
        <h3>Or</h3>
        <h3></h3>
      </div>
      <div class="token-btn">
        <button
          nz-button
          class="cpt-primary-btn mb-2"
          [nzType]="'primary'"
          (click)="closeModal()"
        >
          {{ 'Close' | i18n }}
        </button>
        <button
          nz-button
          class="cpt-primary-btn mb-2"
          [nzType]="'primary'"
          (click)="goDashboard()"
        >
          {{ 'Login' | i18n }}
        </button>
      </div>
    </div>
  </ng-container>
</nz-modal>
