// 导入 Less 变量参数
@import '~@delon/theme/index';

:host {
  // 组件宿主样式

  ::ng-deep {
    // 组件内其他样式
  }
}

.blurred {
  margin-top: 40px;
  color: #51657d;
  font-size: 14px;
  font-weight: bold;
  i {
    color: red;
  }
  div {
    margin-top: 40px;
  }
}
.perfect-icons {
  text-align: center;
  color: #51657d;
  font-size: 14px;
  font-weight: bold;
  i {
    font-size: 22px;
    color: #29cb97;
  }
}

.requirement-images {
  color: #51657d;
}
