<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="tplTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzCloseIcon]="nzCloseIcon"
  [nzWidth]="459"
  nzOkText="Agree"
  nzCancelText="Cancel"
  nzClassName="cpt-modal"
>
  <ng-template #nzCloseIcon>
    <div class="nz-title-template">
      <img src="assets/images/Close-Modal.svg" alt="SettingsMain" />
    </div>
  </ng-template>
  <ng-template #tplTitle>
    <div class="nz-title-template">
      <div class="icon">
        <img src="assets/images/SettingsMain.svg" alt="SettingsMain" />
      </div>
      <span>Crypto Wallet</span>
    </div>
  </ng-template>
  <ng-container *nzModalContent>
    <div class="crypto-modal-content">
      <form nz-form [formGroup]="validateForm" nzLayout="vertical">
        <nz-form-item>
          <nz-form-label>Select the Coin</nz-form-label>
          <nz-form-control placeholder="Select the Coin">
            <nz-select ngModel="lucy" nzSize="large">
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Address</nz-form-label>
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <input nz-input formControlName="email" nzSize="large" placeholder="Enter the public key" type="text" />
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
              <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Amount</nz-form-label>
          <nz-form-control nzErrorTip="Please input your password!">
            <input nz-input class="w100" type="text" nzSize="large" formControlName="password" placeholder="Amount" />
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-container>
</nz-modal>
